{% extends 'base.html' %}
{% load static %}
 {% block content %}
    <div class="grid grid-cols-1 gap-4 lg:gap-6">
     <div class="group rounded-2xl bg-white px-6 pt-0 shadow dark:bg-black dark:shadow-dark">
  <h3 id="projects" class="relative z-10 bg-white pb-2 pt-6 text-2xl font-semibold dark:bg-black dark:text-light">
    پروژه‌های من
  </h3>
  <div class="max-h-[200px] space-y-4 overflow-hidden pb-6 pt-4 [&amp;-webkit-scrollbar-thumb]:bg-gray-400 dark:[&amp;-webkit-scrollbar-thumb]:bg-slate-500 [&amp;-webkit-scrollbar-track]:bg-transparent [&amp;-webkit-scrollbar]:w-0">
    <div class="animate-scrollY space-y-4 group-hover:[animation-play-state:paused]">
      {% for project in projects %}
      <div class="flex flex-col gap-1 md:flex-row md:gap-10">
        <p class="mt-1 text-sm font-medium text-muted dark:text-light/70">
          {{ project.start_date_shamsi }} - {{ project.end_date_shamsi }}
        </p>
        <div class="flex items-center gap-3">
          <div class="grid h-8 w-8 shrink-0 place-content-center rounded-lg bg-light dark:bg-dark-2">
            <img alt="{{ project.title }}" class="h-5 w-5" src="{{ project.image.url }}">
          </div>
          <div class="">
            <h6 class="text-base font-semibold text-dark dark:text-light/70">
              {{ project.company }}
            </h6>
            <p class="text-sm text-muted">
              {{ project.description }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
     <div class="rounded-2xl bg-white p-6 shadow dark:bg-black dark:shadow-dark">
      <h3 class="text-2xl font-semibold dark:text-light">
       حوزه تخصصی من
      </h3>
      <div class="mt-6 grid grid-cols-2 gap-4 md:grid-cols-3">
          {% for skill in skills %}
       <div class="text-center">
        <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
         <img alt="" class="h-8 w-8" src="{{ skill.icon.url }}"/>
        </div>
        <p class="mt-1 text-base font-medium text-dark dark:text-light/70">
         {{ skill.name }}
        </p>
       </div>
          {% endfor %}
      </div>
     </div>
    </div>
    <div class="rounded-2xl bg-white p-6 shadow dark:bg-black dark:shadow-dark">
  <div class="flex flex-wrap items-center justify-between gap-2">
    <h3 class="text-2xl font-semibold dark:text-light">پروژه‌های اخیر</h3>
    <a class="inline-flex items-center justify-center gap-2 border-b text-center text-base text-primary transition hover:border-b-primary dark:border-b-muted dark:hover:border-b-primary" href="portfolio.html">
      <span>همه پروژه‌ها</span>
      <svg class="h-5 w-5 rtl:-scale-x-100" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.167 10h11.666m-4.999 5 5-5m-5-5 5 5"></path>
      </svg>
    </a>
  </div>
  <div class="mt-6 space-y-6">
    {% for project in recent_projects|slice:":2" %}
    <div class="group relative overflow-hidden rounded-lg bg-light p-4 pb-0 dark:bg-dark-2 md:p-6 md:pb-0">
      <div class="relative aspect-6/4 overflow-hidden rounded-t-lg">
        <img alt="{{ project.title }}" class="h-full w-full rounded-t-lg object-cover object-top transition" src="{{ project.image.url }}">
        <a class="project-gallery-link absolute start-1/2 top-1/2 grid h-10 w-10 -translate-x-1/2 rtl:translate-x-1/2 -translate-y-1/2 place-content-center rounded-full bg-white text-primary shadow-lg transition lg:invisible lg:-translate-y-[40%] lg:opacity-0 lg:group-hover:visible lg:group-hover:-translate-y-1/2 lg:group-hover:opacity-100" data-gall="project-gallry-{{ forloop.counter }}" href="{{ project.image.url }}">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4.167v11.666M4.167 10h11.666"></path>
          </svg>
        </a>
      </div>
      <div class="absolute inset-x-0 bottom-0 flex flex-wrap gap-2 bg-gradient-to-t from-black/20 p-4">
        <span class="rounded bg-white px-2 py-1 text-xs font-medium text-primary shadow">{{ project.category }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
   
<div class="rounded-2xl bg-white p-6 shadow dark:bg-black dark:shadow-dark lg:col-span-2">
  <div class="flex flex-wrap items-center justify-between gap-2">
    <h3 class="text-2xl font-semibold dark:text-light">خدماتی که ارائه دادم</h3>
    <a class="inline-flex items-center justify-center gap-2 border-b text-center text-base text-primary transition hover:border-b-primary dark:border-b-muted dark:hover:border-b-primary" href="{% url 'service' %}">
      <span>مشاهده تمام خدمات</span>
      <svg class="h-5 w-5 rtl:-scale-x-100" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.167 10h11.666m-4.999 5 5-5m-5-5 5 5"></path>
      </svg>
    </a>
  </div>
  <div class="mt-6 grid grid-cols-2 gap-6 md:grid-cols-4">
    {% for service in services %}
    <div class="rounded-2xl bg-light p-2 text-center dark:bg-dark-2 md:p-4">
      <div class="grid place-content-center rounded-lg bg-white p-6 dark:bg-black">
        <div class="h-12 w-12 lg:h-16 lg:w-16 text-primary">
          {{ service.icon_svg|safe }}
        </div>
      </div>
      <p class="mt-3 text-base font-medium text-dark dark:text-light/70">{{ service.name }}</p>
    </div>
    {% endfor %}
  </div>
</div>

    <div class="rounded-2xl bg-white p-6 shadow dark:bg-black dark:shadow-dark">
     <marquee behavior="scroll" class="overflow-hidden text-nowrap rounded-lg bg-light p-3 text-lg font-medium text-muted dark:bg-dark-2" direction="left">
      در دسترس برای استخدام 🚀 طراحی تجربیات دیجیتال 🎨 در دسترس برای استخدام 🚀 طراحی تجربیات دیجیتال 🎨
     </marquee>
     <h2 class="mt-4 text-[40px] font-semibold leading-snug text-dark dark:text-light">
      بیا با هم کار کنیم 👋
     </h2>
     <a class="mt-6 inline-flex items-center justify-center gap-2 border-b text-center text-base text-primary transition hover:border-b-primary dark:border-b-muted dark:hover:border-b-primary" href="contact.html">
      <span>
       بیایید صحبت کنیم
      </span>
      <svg class="h-5 w-5 rtl:-scale-x-100" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path d="M17.5 11.667v-5h-5">
       </path>
       <path d="m17.5 6.667-7.5 7.5-7.5-7.5">
       </path>
      </svg>
     </a>
    </div>
 {% endblock %}
