{% extends 'base.html' %}
{% block rigester %}

    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            margin: 0;
        }
        .form-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }
        .form-container h2 {
            margin-bottom: 20px;
            font-size: 1.5em;
            color: #333333;
        }
        .form-container input {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            font-size: 1em;
        }
        .form-container button {
            width: calc(100% - 20px);
            padding: 10px;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            color: #ffffff;
            font-size: 1em;
            cursor: pointer;
        }
        .form-container button:hover {
            background-color: #0056b3;
        }
        /* تنظیمات عمومی فرم */
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* تنظیمات برای حالت کامپیوتر */
@media (min-width: 768px) {
    .form-container {
        height: 36%;
        width: 101%;
    }
}

/* تنظیمات برای حالت موبایل */
@media (max-width: 767px) {
    .form-container {
        height: 103%;
        width: 100%;
    }
}

    </style>

<body>
    <div class="form-container">
        <h2>شماره تلفن خود را وارد کنید</h2>
        <form method="post" >
            {% csrf_token %}
            <div class="form-control">
            {{ form.phone}}
{#                {% if form.phone.errors %}#}
{#                    <div>#}
{#                <p class="alert alert-danger ">#}
{#                    {{ form.phone.errors }}#}
{#                </p>#}
{#                {% endif %}#}
            </div>
{#            </div> #}
            <button type="submit">ارسال کد</button>
        </form>
    </div>

    
{% endblock %}