{% load static %}
<!DOCTYPE html>
<html class="h-full" dir="rtl" lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta name="description"
          content="مهرشاد بلیلا - سایت  مهرشاد بلیلا برنامه نویس پایتون و توسعه دهتده وب و هوش مصنوعی ، طراحی مدرن و حرفه‌ای برای نمایش کارهای شما.">
    <meta name="keywords" content="مهرشاد یلیلا, mehrshad boleyla, هوش مصنوعی , طراحی وب, ربات تلگرام">

    <title>
        مهرشاد بلیلا - توسعه دهنده وب و هوش مصنوعی
    </title>
    <link href="{% static '' %}" rel="icon" type="image/svg+xml"/>
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="{% static 'css/css2' %}" rel="stylesheet"/>
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body class="relative h-screen overflow-y-auto overflow-x-hidden bg-light text-dark dark:bg-dark-2 dark:text-light">
<div class="mx-auto flex max-w-screen-2xl flex-col justify-between gap-4 p-4 lg:gap-6 lg:p-6">

    <!-- Header -->
    <header class="sticky top-0 z-50">
        <div class="">
            <div class="flex items-center justify-between rounded-2xl bg-white p-3 shadow dark:bg-black dark:shadow-dark">
                <a class="inline-flex items-center gap-3 px-3 text-2xl font-semibold text-dark dark:text-white"
                   href="index.html">
                    <svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H9a1.5 1.5 0 0 1 1.5 1.5v21A1.5 1.5 0 0 1 9 24H1.5A1.5 1.5 0 0 1 0 22.5v-21Zm13.5 0A1.5 1.5 0 0 1 15 0h7.5A1.5 1.5 0 0 1 24 1.5V9a1.5 1.5 0 0 1-1.5 1.5H15A1.5 1.5 0 0 1 13.5 9V1.5Zm0 13.5a1.5 1.5 0 0 1 1.5-1.5h7.5A1.5 1.5 0 0 1 24 15v7.5a1.5 1.5 0 0 1-1.5 1.5H15a1.5 1.5 0 0 1-1.5-1.5V15Z"
                              fill="currentColor">
                        </path>
                    </svg>
                    <span>
        بنتو
        <span class="text-primary">
         فولیو
        </span>
       </span>
                </a>
                <ul class="hidden flex-1 flex-wrap items-center justify-center lg:flex lg:gap-2">
                    <li class="relative group/menu-item active">
                        <a class="group inline-flex items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                           href="{% url 'home' %}">
                            <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                                 fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.833 7.258 11.39 3.802a2.222 2.222 0 0 0-2.728 0L4.216 7.258a2.22 2.22 0 0 0-.858 1.754v6a1.667 1.667 0 0 0 1.667 1.667h10a1.667 1.667 0 0 0 1.667-1.666v-6c0-.686-.317-1.334-.859-1.755Z">
                                </path>
                                <path d="M13.333 12.5c-1.841 1.11-4.826 1.11-6.667 0">
                                </path>
                            </svg>
                            <span>
          خانه
         </span>
                        </a>
                    <li class="group/menu-item">
                        <a class="group inline-flex items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                           href="{% url 'about' %}">
                            <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                                 fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5 10.833a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z">
                                </path>
                                <path d="M10.5 2.5c6 0 7.5 1.5 7.5 7.5s-1.5 7.5-7.5 7.5S3 16 3 10s1.5-7.5 7.5-7.5Z">
                                </path>
                                <path d="M5.5 16.708v-.041a3.333 3.333 0 0 1 3.333-3.334h3.334a3.333 3.333 0 0 1 3.333 3.334v.041">
                                </path>
                            </svg>
                            <span>
          درباره
         </span>
                        </a>
                    </li>
                    <li class="group/menu-item">
                        <a class="group inline-flex items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                           href="{% url 'service' %}">
                            <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                                 fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5 3.333 3.833 6.667 10.5 10l6.667-3.333L10.5 3.333ZM3.833 10l6.667 3.333L17.167 10M3.833 13.333l6.667 3.334 6.667-3.334">
                                </path>
                            </svg>
                            <span>
          خدمات
         </span>
                        </a>
                    </li>
                    <li class="group/menu-item">
                        <a class="group inline-flex items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                           href="portfolio.html">
                            <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                                 fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="m3.503 5.998 5.949-2.591a.8.8 0 0 1 1.058.439l4.103 9.918a.834.834 0 0 1-.428 1.087l-5.948 2.59a.8.8 0 0 1-1.059-.438l-4.103-9.92a.833.833 0 0 1 .428-1.085ZM13 3.333h.833a.833.833 0 0 1 .834.834v2.916M17.167 5c.22.093.433.18.64.263a.833.833 0 0 1 .442 1.092l-1.915 4.478">
                                </path>
                            </svg>
                            <span>
          کارها
         </span>
                        </a>
                    </li>
                    <li class="group/menu-item">
                        <a class="group inline-flex items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                           href="{% url 'blogs' %}">
                            <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                                 fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="m14.667 9.167 1.25-1.25a2.357 2.357 0 1 0-3.333-3.334l-8.75 8.75v3.334h3.333L8.834 15m2.916-9.583 3.333 3.333m.417 9.583 2.792-2.736a1.785 1.785 0 0 0 .004-2.56 1.87 1.87 0 0 0-2.608-.005l-.186.184-.186-.184a1.869 1.869 0 0 0-2.607-.005 1.787 1.787 0 0 0-.005 2.56l2.796 2.746Z">
                                </path>
                            </svg>
                            <span>
          وبلاگ
         </span>
                        </a>
                    </li>
                    <li class="group/menu-item">
                        <a class="group inline-flex items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                           href="contact.html">
                            <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                                 fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.667 7.5h6.666m-6.666 3.333h5M15 3.333a2.5 2.5 0 0 1 2.5 2.5V12.5A2.5 2.5 0 0 1 15 15h-4.167l-4.166 2.5V15H5a2.5 2.5 0 0 1-2.5-2.5V5.833a2.5 2.5 0 0 1 2.5-2.5h10Z">
                                </path>
                            </svg>
                            <span>
          تماس
         </span>
                        </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <button id="authButton" style="    font-size: 15px;
    height: 50px;" class="bg-primary text-white px-4 py-2 rounded-lg">
                        {{ user.first_name }} {{ user.last_name }}
                    </button>
                {% else %}
                    <a href="{% url 'OtpLogin' %}">
                        <button id="authButton" class="bg-primary text-white px-4 py-2 rounded-lg">
                            ثبت نام / ورود
                        </button>
                    </a>

                {% endif %}

                <div class="hidden items-center gap-4 lg:flex">
                    <div class="">
                        <button class="hs-dark-mode group flex h-10 w-10 items-center justify-center rounded-lg text-center font-medium text-dark transition hover:bg-light hs-dark-mode-active:hidden dark:text-gray-400 dark:hover:text-gray-500"
                                data-hs-theme-click-value="dark" type="button">
                            <svg class="h-6 w-6" fill="currentColor" viewbox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.8 3a8.656 8.656 0 0 0-4.523 1.28A8.918 8.918 0 0 0 4.04 7.756a9.167 9.167 0 0 0 .44 9.24 8.863 8.863 0 0 0 3.553 3.137 8.633 8.633 0 0 0 4.624.824 8.69 8.69 0 0 0 4.381-1.723 8.973 8.973 0 0 0 2.892-3.78c.3-.738-.419-1.48-1.142-1.179a5.604 5.604 0 0 1-3.892.15 5.74 5.74 0 0 1-3.083-2.431 5.956 5.956 0 0 1-.848-3.886c.17-1.357.8-2.61 1.78-3.541l.069-.072c.485-.567.099-1.488-.668-1.488h-.234l-.06-.005L11.8 3Z">
                                </path>
                            </svg>
                        </button>
                        <button class="hs-dark-mode group hidden h-10 w-10 items-center justify-center rounded-lg text-center font-medium text-dark transition hover:bg-light hs-dark-mode-active:flex dark:text-[#FD7E41] dark:hover:bg-dark dark:hover:text-[#FD7E41]"
                                data-hs-theme-click-value="light" type="button">
                            <svg class="h-6 w-6" fill="currentColor" viewbox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 15.833a.833.833 0 0 1 .828.736l.005.098v.833a.833.833 0 0 1-1.66.097l-.006-.097v-.833a.833.833 0 0 1 .833-.834Zm5.26-1.741.08.069.582.583a.833.833 0 0 1-1.1 1.248l-.078-.07-.583-.583a.833.833 0 0 1 1.015-1.306l.085.059Zm-9.42.068a.833.833 0 0 1 .068 1.1l-.069.08-.583.582a.833.833 0 0 1-1.248-1.1l.07-.078.583-.583a.833.833 0 0 1 1.178 0ZM3.333 9.167a.833.833 0 0 1 .098 1.66l-.098.006H2.5a.833.833 0 0 1-.098-1.66l.098-.006h.833Zm14.167 0a.833.833 0 0 1 .098 1.66l-.098.006h-.833a.833.833 0 0 1-.098-1.66l.098-.006h.833ZM5.178 4.008l.078.07.583.583a.833.833 0 0 1-1.1 1.247l-.078-.069-.583-.583A.833.833 0 0 1 5.092 3.95l.086.058Zm10.744.069a.833.833 0 0 1 .07 1.1l-.07.079-.583.583a.833.833 0 0 1-1.247-1.1l.069-.078.583-.584a.833.833 0 0 1 1.178 0ZM10 1.667a.833.833 0 0 1 .828.736l.005.097v.833a.833.833 0 0 1-1.66.098l-.006-.098V2.5A.833.833 0 0 1 10 1.667Zm0 4.166a4.167 4.167 0 1 1-4.163 4.348L5.833 10l.004-.18A4.167 4.167 0 0 1 10 5.832Z">
                                </path>
                            </svg>
                        </button>
                    </div>
                    <a class="inline-flex items-center gap-2 rounded-lg bg-dark px-6 py-4 text-center text-base font-semibold leading-tight text-white transition hover:bg-primary dark:bg-dark-2 dark:text-white dark:hover:bg-primary dark:hover:text-white"
                       href="contact.html">
        <span>
         بیایید صحبت کنیم
        </span>
                        <svg class="h-5 w-5 rtl:-scale-x-100" fill="none" stroke="currentColor" stroke-linecap="round"
                             stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5 11.667v-5h-5">
                            </path>
                            <path d="m17.5 6.667-7.5 7.5-7.5-7.5">
                            </path>
                        </svg>
                    </a>
                </div>
                <button aria-controls="mobile-menu" aria-label="Toggle navigation"
                        class="text-dark transition dark:text-white/70 lg:hidden" data-hs-overlay="#mobile-menu"
                        type="button">
       <span class="sr-only">
        تغییر ناوبری
       </span>
                    <svg class="h-9 w-9 flex-shrink-0" fill="currentColor" viewbox="0 0 16 16">
                        <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                              fill-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </header>
    <div class="hs-overlay fixed bottom-0 start-0 top-0 z-[60] hidden lg:!hidden h-full w-64 -translate-x-full rtl:translate-x-full transform overflow-y-auto bg-white transition-all duration-300 hs-overlay-open:translate-x-0 dark:bg-black [&amp;::-webkit-scrollbar-thumb]:rounded-full [&amp;::-webkit-scrollbar-thumb]:bg-gray-300 [&amp;::-webkit-scrollbar-track]:bg-gray-100 [&amp;::-webkit-scrollbar]:w-2"
         id="mobile-menu">
        <div class="flex h-full flex-col justify-between gap-5 p-5">
            <div class="">
                <a class="inline-flex items-center gap-3 px-3 text-2xl font-semibold text-dark dark:text-white"
                   href="index.html">
                    <svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H9a1.5 1.5 0 0 1 1.5 1.5v21A1.5 1.5 0 0 1 9 24H1.5A1.5 1.5 0 0 1 0 22.5v-21Zm13.5 0A1.5 1.5 0 0 1 15 0h7.5A1.5 1.5 0 0 1 24 1.5V9a1.5 1.5 0 0 1-1.5 1.5H15A1.5 1.5 0 0 1 13.5 9V1.5Zm0 13.5a1.5 1.5 0 0 1 1.5-1.5h7.5A1.5 1.5 0 0 1 24 15v7.5a1.5 1.5 0 0 1-1.5 1.5H15a1.5 1.5 0 0 1-1.5-1.5V15Z"
                              fill="currentColor">
                        </path>
                    </svg>
                    <span>
        بنتو
        <span class="text-primary">
         فولیو
        </span>
       </span>
                </a>
            </div>
            <ul class="mt-4 flex flex-1 flex-col gap-2">
                <li class="group/menu-item active">
                    <a class="group inline-flex w-full items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                       href="index.html">
                        <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                             fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.833 7.258 11.39 3.802a2.222 2.222 0 0 0-2.728 0L4.216 7.258a2.22 2.22 0 0 0-.858 1.754v6a1.667 1.667 0 0 0 1.667 1.667h10a1.667 1.667 0 0 0 1.667-1.666v-6c0-.686-.317-1.334-.859-1.755Z">
                            </path>
                            <path d="M13.333 12.5c-1.841 1.11-4.826 1.11-6.667 0">
                            </path>
                        </svg>
                        <span>
         خانه
        </span>
                    </a>
                    <ul class="hidden group-[.active]/menu-item:flex flex-col gap-y-1 bg-white p-3 pe-0 ms-3 dark:bg-black border-s border-light dark:border-dark-2">
                        <li class="group/submenu-item">
                            <a class="group inline-flex w-full items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/submenu-item:bg-light group-[.active]/submenu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/submenu-item:bg-dark-2 dark:group-[.active]/submenu-item:text-white"
                               href="index-2.html">
                                <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/submenu-item:text-dark dark:group-hover:text-white dark:group-[.active]/submenu-item:text-white"
                                     fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                     stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.833 7.258 11.39 3.802a2.222 2.222 0 0 0-2.728 0L4.216 7.258a2.22 2.22 0 0 0-.858 1.754v6a1.667 1.667 0 0 0 1.667 1.667h10a1.667 1.667 0 0 0 1.667-1.666v-6c0-.686-.317-1.334-.859-1.755Z">
                                    </path>
                                    <path d="M13.333 12.5c-1.841 1.11-4.826 1.11-6.667 0">
                                    </path>
                                </svg>
                                <span class="text-nowrap">
           خانه 2
          </span>
                            </a>
                        </li>
                        <li class="group/submenu-item">
                            <a class="group inline-flex w-full items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/submenu-item:bg-light group-[.active]/submenu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/submenu-item:bg-dark-2 dark:group-[.active]/submenu-item:text-white"
                               href="index-3.html">
                                <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/submenu-item:text-dark dark:group-hover:text-white dark:group-[.active]/submenu-item:text-white"
                                     fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                     stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.833 7.258 11.39 3.802a2.222 2.222 0 0 0-2.728 0L4.216 7.258a2.22 2.22 0 0 0-.858 1.754v6a1.667 1.667 0 0 0 1.667 1.667h10a1.667 1.667 0 0 0 1.667-1.666v-6c0-.686-.317-1.334-.859-1.755Z">
                                    </path>
                                    <path d="M13.333 12.5c-1.841 1.11-4.826 1.11-6.667 0">
                                    </path>
                                </svg>
                                <span class="text-nowrap">
           خانه 3
          </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="group/menu-item">
                    <a class="group inline-flex w-full items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                       href="about.html">
                        <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                             fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 10.833a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z">
                            </path>
                            <path d="M10.5 2.5c6 0 7.5 1.5 7.5 7.5s-1.5 7.5-7.5 7.5S3 16 3 10s1.5-7.5 7.5-7.5Z">
                            </path>
                            <path d="M5.5 16.708v-.041a3.333 3.333 0 0 1 3.333-3.334h3.334a3.333 3.333 0 0 1 3.333 3.334v.041">
                            </path>
                        </svg>
                        <span>
         درباره
        </span>
                    </a>
                </li>
                <li class="group/menu-item">
                    <a class="group inline-flex w-full items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                       href="services.html">
                        <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                             fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 3.333 3.833 6.667 10.5 10l6.667-3.333L10.5 3.333ZM3.833 10l6.667 3.333L17.167 10M3.833 13.333l6.667 3.334 6.667-3.334">
                            </path>
                        </svg>
                        <span>
         خدمات
        </span>
                    </a>
                </li>
                <li class="group/menu-item">
                    <a class="group inline-flex w-full items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                       href="portfolio.html">
                        <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                             fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="m3.503 5.998 5.949-2.591a.8.8 0 0 1 1.058.439l4.103 9.918a.834.834 0 0 1-.428 1.087l-5.948 2.59a.8.8 0 0 1-1.059-.438l-4.103-9.92a.833.833 0 0 1 .428-1.085ZM13 3.333h.833a.833.833 0 0 1 .834.834v2.916M17.167 5c.22.093.433.18.64.263a.833.833 0 0 1 .442 1.092l-1.915 4.478">
                            </path>
                        </svg>
                        <span>
         کارها
        </span>
                    </a>
                </li>
                <li class="group/menu-item">
                    <a class="group inline-flex w-full items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                       href="blog.html">
                        <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                             fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="m14.667 9.167 1.25-1.25a2.357 2.357 0 1 0-3.333-3.334l-8.75 8.75v3.334h3.333L8.834 15m2.916-9.583 3.333 3.333m.417 9.583 2.792-2.736a1.785 1.785 0 0 0 .004-2.56 1.87 1.87 0 0 0-2.608-.005l-.186.184-.186-.184a1.869 1.869 0 0 0-2.607-.005 1.787 1.787 0 0 0-.005 2.56l2.796 2.746Z">
                            </path>
                        </svg>
                        <span>
         وبلاگ
        </span>
                    </a>
                </li>
                <li class="group/menu-item">
                    <a class="group inline-flex w-full items-center gap-2 rounded-lg px-3 py-2 text-center text-base font-medium text-muted transition hover:bg-light hover:text-dark group-[.active]/menu-item:bg-light group-[.active]/menu-item:text-dark dark:hover:bg-dark-2 dark:hover:text-white dark:group-[.active]/menu-item:bg-dark-2 dark:group-[.active]/menu-item:text-white"
                       href="contact.html">
                        <svg class="h-6 w-6 text-[#8991A7] transition group-hover:text-dark group-[.active]/menu-item:text-dark dark:group-hover:text-white dark:group-[.active]/menu-item:text-white"
                             fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="1.2" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.667 7.5h6.666m-6.666 3.333h5M15 3.333a2.5 2.5 0 0 1 2.5 2.5V12.5A2.5 2.5 0 0 1 15 15h-4.167l-4.166 2.5V15H5a2.5 2.5 0 0 1-2.5-2.5V5.833a2.5 2.5 0 0 1 2.5-2.5h10Z">
                            </path>
                        </svg>
                        <span>
         تماس
        </span>
                    </a>
                </li>
            </ul>
            <div class="flex flex-col gap-3">
                <button class="hs-dark-mode flex w-full items-center justify-start gap-2 rounded-lg px-4 py-2 text-center text-sm text-muted transition hover:bg-light hs-dark-mode-active:hidden dark:hover:bg-dark dark:hover:text-white"
                        data-hs-theme-click-value="dark">
                    <svg class="h-6 w-6" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8 3a8.656 8.656 0 0 0-4.523 1.28A8.918 8.918 0 0 0 4.04 7.756a9.167 9.167 0 0 0 .44 9.24 8.863 8.863 0 0 0 3.553 3.137 8.633 8.633 0 0 0 4.624.824 8.69 8.69 0 0 0 4.381-1.723 8.973 8.973 0 0 0 2.892-3.78c.3-.738-.419-1.48-1.142-1.179a5.604 5.604 0 0 1-3.892.15 5.74 5.74 0 0 1-3.083-2.431 5.956 5.956 0 0 1-.848-3.886c.17-1.357.8-2.61 1.78-3.541l.069-.072c.485-.567.099-1.488-.668-1.488h-.234l-.06-.005L11.8 3Z">
                        </path>
                    </svg>
                    <span>
        تغییر ظاهر
       </span>
                </button>
                <button class="hs-dark-mode hidden w-full items-center justify-start gap-2 rounded-lg px-4 py-2 text-center text-sm text-muted transition hover:bg-light hs-dark-mode-active:flex dark:hover:bg-dark dark:hover:text-white"
                        data-hs-theme-click-value="light">
                    <svg class="h-6 w-6" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 15.833a.833.833 0 0 1 .828.736l.005.098v.833a.833.833 0 0 1-1.66.097l-.006-.097v-.833a.833.833 0 0 1 .833-.834Zm5.26-1.741.08.069.582.583a.833.833 0 0 1-1.1 1.248l-.078-.07-.583-.583a.833.833 0 0 1 1.015-1.306l.085.059Zm-9.42.068a.833.833 0 0 1 .068 1.1l-.069.08-.583.582a.833.833 0 0 1-1.248-1.1l.07-.078.583-.583a.833.833 0 0 1 1.178 0ZM3.333 9.167a.833.833 0 0 1 .098 1.66l-.098.006H2.5a.833.833 0 0 1-.098-1.66l.098-.006h.833Zm14.167 0a.833.833 0 0 1 .098 1.66l-.098.006h-.833a.833.833 0 0 1-.098-1.66l.098-.006h.833ZM5.178 4.008l.078.07.583.583a.833.833 0 0 1-1.1 1.247l-.078-.069-.583-.583A.833.833 0 0 1 5.092 3.95l.086.058Zm10.744.069a.833.833 0 0 1 .07 1.1l-.07.079-.583.583a.833.833 0 0 1-1.247-1.1l.069-.078.583-.584a.833.833 0 0 1 1.178 0ZM10 1.667a.833.833 0 0 1 .828.736l.005.097v.833a.833.833 0 0 1-1.66.098l-.006-.098V2.5A.833.833 0 0 1 10 1.667Zm0 4.166a4.167 4.167 0 1 1-4.163 4.348L5.833 10l.004-.18A4.167 4.167 0 0 1 10 5.832Z">
                        </path>
                    </svg>
                    <span>
        تغییر ظاهر
       </span>
                </button>
                <a class="inline-flex w-full items-center justify-center gap-2 rounded-lg bg-dark px-6 py-4 text-center text-base font-semibold leading-tight text-white transition hover:bg-primary dark:bg-dark-2 dark:text-white dark:hover:bg-primary dark:hover:text-white"
                   href="contact.html">
       <span>
        بیایید صحبت کنیم
       </span>
                    <svg class="h-5 w-5 rtl:-scale-x-100" fill="none" stroke="currentColor" stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5 11.667v-5h-5">
                        </path>
                        <path d="m17.5 6.667-7.5 7.5-7.5-7.5">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <!-- Main content -->


    <main class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-6">
        <div class="rounded-2xl bg-white p-6 shadow dark:bg-black dark:shadow-dark " style=" height: 564px;">
            <div class="aspect-6/4 overflow-hidden rounded-lg bg-light pt-4 text-center dark:bg-dark-2">
                <img alt="" class="inline-block h-full w-full scale-110 object-contain object-bottom"
                     src="assets\images\profile.png"/>
            </div>
            <div class="mt-6">
                <h3 class="text-2xl font-semibold dark:text-light">
                    کریس ریان 👋
                </h3>
                <p class="mt-2 text-muted dark:text-light/70">
                    یک
                    <span class="font-semibold text-dark dark:text-white">
        توسعه‌دهنده فول استک
       </span>
                    و
                    <span class="font-semibold text-dark dark:text-white">
        طراح محصول
       </span>
                    مشتاق 🖥️ با ۱۲ سال تجربه در بیش از ۲۴ کشور در سراسر جهان.
                </p>
                <div class="mt-6 flex flex-wrap gap-2">
                    <a class="inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-primary px-6 py-4 font-medium text-white transition hover:bg-blue-600 focus:outline-none focus:ring disabled:pointer-events-none disabled:opacity-50"
                       href="#">
                        <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-linecap="round"
                             stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2Zm10 3a2 2 0 0 1 2 2m-2-6a6 6 0 0 1 6 6">
                            </path>
                        </svg>
                        <span>
         رزرو تماس
        </span>
                    </a>
                    <button class="js-clipboard hs-tooltip inline-flex items-center gap-x-2 rounded-lg border border-light bg-transparent px-6 py-4 font-medium text-dark transition [--trigger:focus] hover:bg-light focus:outline-none focus:ring disabled:pointer-events-none disabled:opacity-50 dark:border-dark dark:text-light/70 dark:hover:bg-dark dark:hover:text-white"
                            data-clipboard-action="copy" data-clipboard-success-text="کپی شد به کلیپ‌بورد"
                            data-clipboard-text="shams.sujon.01@gmail.com" type="button">
                        <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-linecap="round"
                             stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 10a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2v-8Z">
                            </path>
                            <path d="M16 8V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2">
                            </path>
                        </svg>
                        <span>
         کپی کردن ایمیل
        </span>
                        <span class="hs-tooltip-content invisible z-10 hidden rounded-lg bg-gray-900 px-2 py-1 text-xs font-medium text-white opacity-0 shadow-sm transition-opacity hs-tooltip-shown:visible hs-tooltip-shown:opacity-100 dark:bg-slate-700"
                              role="tooltip">
         کپی شد به کلیپ‌بورد
        </span>
                    </button>
                </div>
                <div class="mt-8 flex flex-wrap items-center gap-2">
                    <a class="flex h-10 w-10 items-center justify-center rounded-lg border border-slate-200 bg-transparent text-center text-slate-600 transition hover:text-primary focus:outline-none focus:ring disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-dark-2 dark:text-slate-500 dark:hover:text-primary"
                       href="#">
                        <svg class="h-6 w-6" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C6.477 2 2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.879V14.89h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.989C18.343 21.129 22 16.99 22 12c0-5.523-4.477-10-10-10Z">
                            </path>
                        </svg>
                    </a>
                    <a class="flex h-10 w-10 items-center justify-center rounded-lg border border-slate-200 bg-transparent text-center text-slate-600 transition hover:text-primary focus:outline-none focus:ring disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-dark-2 dark:text-slate-500 dark:hover:text-primary"
                       href="#">
                        <svg class="h-6 w-6" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.37 2.094A10.003 10.003 0 0 0 8.002 21.17a7.757 7.757 0 0 1 .163-2.293c.185-.839 1.296-5.463 1.296-5.463a3.74 3.74 0 0 1-.324-1.577c0-1.485.857-2.593 1.923-2.593a1.334 1.334 0 0 1 1.342 1.508c0 .9-.578 2.262-.88 3.54a1.544 1.544 0 0 0 1.575 1.923c1.898 0 3.17-2.431 3.17-5.301 0-2.2-1.457-3.848-4.143-3.848a4.746 4.746 0 0 0-4.93 4.794 2.96 2.96 0 0 0 .648 1.97.48.48 0 0 1 .162.554c-.046.184-.162.623-.208.784a.354.354 0 0 1-.51.254c-1.384-.554-2.036-2.077-2.036-3.816 0-2.847 2.384-6.255 7.154-6.255 3.796 0 6.32 2.777 6.32 5.747 0 3.909-2.177 6.848-5.394 6.848a2.862 2.862 0 0 1-2.454-1.246s-.578 2.316-.692 2.754a8.026 8.026 0 0 1-1.019 2.131c.923.28 1.882.42 2.846.416a9.99 9.99 0 0 0 9.996-10.003 10.002 10.002 0 0 0-8.635-9.903l-.002-.001Z">
                            </path>
                        </svg>
                    </a>
                    <a class="flex h-10 w-10 items-center justify-center rounded-lg border border-slate-200 bg-transparent text-center text-slate-600 transition hover:text-primary focus:outline-none focus:ring disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-dark-2 dark:text-slate-500 dark:hover:text-primary"
                       href="#">
                        <svg class="h-6 w-6" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10Z">
                            </path>
                        </svg>
                    </a>
                    <a class="flex h-10 w-10 items-center justify-center rounded-lg border border-slate-200 bg-transparent text-center text-slate-600 transition hover:text-primary focus:outline-none focus:ring disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-dark-2 dark:text-slate-500 dark:hover:text-primary"
                       href="#">
                        <svg class="h-6 w-6" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.543 6.498C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022ZM10 15.5l6-3.5-6-3.5v7Z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        {% block rigester %}{% endblock %}
        {% block verify %}

        {% endblock %}
        {% block name %}
        {% endblock %}
        {% block content %}{% endblock %}

    </main>

    <!-- Footer -->
    <footer class="text-center">
        <p class="text-sm dark:text-light/70">
            @ ۱۴۰۳، طراحی توسط
            <a class="inline-block border-b border-b-transparent text-primary transition hover:border-b-primary hover:text-blue-600"
               href="https://instagram.com/mehrshad.boleyla" target="_blank">
                مهرشاد یلیلا
            </a>
        </p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <div class="shapes">
        <div class="fixed -start-1/2 -top-1/2 -z-10 animate-spin-very-slow xl:-start-[20%] xl:-top-1/3">
            <img alt="" class="" src="{% static 'images/gradient-1.png' %}"/>
        </div>
        <div class="fixed -end-[50%] top-[10%] -z-10 animate-spin-very-slow xl:-end-[15%] xl:top-[10%]">
            <img alt="" class="" src="{% static 'images/gradient-2.png' %}"/>
        </div>
        <div class="move-with-cursor fixed start-[10%] top-[20%] -z-10">
            <img alt="" class="" src="{% static 'images/object-3d-1.png' %}"/>
        </div>
        <div class="move-with-cursor fixed bottom-[20%] end-[10%] -z-10">
            <img alt="" class="" src="{% static 'images/object-3d-2.png' %}"/>
        </div>
    </div>
</div>
<script src="{% static '/js/all.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
</body>
</html>
