{% extends 'base.html' %}
{% block content %}

    <div class="rounded-2xl bg-white p-6 shadow dark:bg-black dark:shadow-dark lg:col-span-2 lg:p-10">
     <div class="flex flex-col-reverse items-start gap-6 lg:flex-row lg:gap-10">
      <div class="">
       <h2 class="text-3xl font-semibold text-dark dark:text-light lg:text-[40px]">
        خدمات من
        <span class="text-primary">
         پیشنهاد شده
        </span>
       </h2>
       <p class="mt-4 text-lg text-muted dark:text-light/70 lg:mt-6 lg:text-2xl">
        تبدیل ایده‌ها به واقعیت نوآورانه، چشم‌انداز خود را با کارشناسان ما ارتقا دهید
        <span class="font-semibold text-dark dark:text-white">
         طراحی و توسعه وب
        </span>
        خدمات!
       </p>
      </div>
      <div class="flex items-center justify-center gap-2 whitespace-nowrap rounded-lg bg-light px-4 py-2 text-center text-base font-medium leading-none text-primary dark:bg-dark-2 lg:text-lg">
       <span class="relative flex h-2 w-2 shrink-0">
        <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-primary opacity-75 dark:bg-light">
        </span>
        <span class="relative inline-flex h-2 w-2 rounded-full bg-primary">
        </span>
       </span>
       <span>
        در دسترس برای استخدام
       </span>
      </div>
     </div>
     <div class="mt-10 grid grid-cols-2 gap-6 md:grid-cols-4 lg:mt-14">
         {% for service in services %}
      <div class="rounded-2xl bg-light p-2 text-center dark:bg-dark-2 md:p-4">
       <div class="grid place-content-center rounded-lg bg-white p-6 dark:bg-black">
        <svg class="h-12 w-12 text-primary lg:h-16 lg:w-16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
            {{ service.icon_svg|safe}}
        </svg>
       </div>
       <p class="mt-3 text-base font-medium text-dark dark:text-light/70">
        {{ service.name }}
       </p>
      </div>
   {% endfor %}
     </div>
{#     <div class="mt-10 lg:mt-14">#}
{#      <h3 class="text-2xl font-medium text-dark dark:text-light lg:text-3xl">#}
{#       جوایز و افتخارات#}
{#      </h3>#}
{#      <div class="mt-8 space-y-4">#}
{#          {% for proj in projects %}#}
{#       <div class="group relative grid grid-cols-1 items-center gap-4 rounded-lg border border-transparent bg-light p-6 transition hover:border-light hover:bg-white dark:bg-dark-2 dark:hover:border-primary dark:hover:bg-black md:grid-cols-4 xl:gap-10">#}
{#        <div class="flex flex-col gap-4 md:col-span-2 md:flex-row md:items-center md:gap-6">#}
{#         <div class="grid h-10 w-10 shrink-0 place-content-center rounded-lg bg-white transition group-hover:bg-light dark:bg-black dark:group-hover:bg-dark-2">#}
{#          <img alt="" class="h-6 w-6 shrink-0" src="{{ proj.image.url }}"/>#}
{#         </div>#}
{#         <div class="">#}
{#          <h5 class="font-medium leading-tight text-dark dark:text-light xl:text-lg xl:leading-tight">#}
{#              {{ proj.title}}#}
{#          </h5>#}
{#          <p class="text-muted">#}
{#           {{ proj.end_date }}#}
{#          </p>#}
{#         </div>#}
{#        </div>#}
{#       </div>#}
{#                 {% endfor %}#}
{#      </div>#}
{#     </div>#}
     <div class="mt-10 lg:mt-14">
      <h3 class="text-2xl font-medium text-dark dark:text-light lg:text-3xl">
       سوالات متداول
      </h3>
         {% for faqs in faq %}
      <div class="hs-accordion-group mt-8 space-y-4">
       <div class="hs-accordion rounded-lg border border-transparent bg-light transition hs-accordion-active:border-light hs-accordion-active:bg-white dark:border-transparent dark:bg-dark-2 dark:hs-accordion-active:border-dark-2 dark:hs-accordion-active:bg-black">
        <button class="hs-accordion-toggle inline-flex w-full items-center justify-between gap-x-3 px-6 py-5 text-start text-lg font-medium text-dark transition hover:text-muted disabled:pointer-events-none disabled:opacity-50 hs-accordion-active:text-primary dark:text-light/70 dark:hover:text-light dark:focus:outline-none dark:hs-accordion-active:text-primary xl:text-2xl">
         <span>
          {{ faqs.Question }}
         </span>
         <span class="grid h-8 w-8 shrink-0 place-content-center rounded bg-white text-primary hs-accordion-active:bg-light dark:bg-black dark:hs-accordion-active:bg-dark-2">
          <svg class="block h-3.5 w-3.5 hs-accordion-active:hidden" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
           <path d="M5 12h14">
           </path>
           <path d="M12 5v14">
           </path>
          </svg>
          <svg class="hidden h-3.5 w-3.5 hs-accordion-active:block" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
           <path d="M5 12h14">
           </path>
          </svg>
         </span>
        </button>
        <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
         <div class="px-6 pb-5">
          <p class="text-base xl:text-lg">
          {{ faqs.Answer }}
          </p>
         </div>
        </div>
       </div>
          {% endfor %}
      </div>
     </div>
    </div>
{% endblock %}